@media screen and (max-width: 1000px) {
    nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    nav ul{
        margin: 0;
    }

    nav img {
        display: none;
    }
    
    
    .text p {
        display: none;
    }

    .header h1 {
        font-size: 55px;
        font-family: 'Righteous', cursive;
    }

    .phone__number {
        font-size: 20px;
        
    }

    .carousel{
        display: none;
    }

 }




 @media screen and (max-width: 710px) {
    nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

ul li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Righteous', cursive;
    color: #1e1e1e;
    padding: 0 15px;
}

#about_menu{
    display: none;
}

#gallery_menu{
    display: none;
}


  nav ul{
        margin: 0;
    }

    nav img {
        display: none;
    }
    
    
    .text p {
        display: none;
    }

    .header h1 {
        font-size: 55px;
        font-family: 'Righteous', cursive;
    }

    .phone__number {
        font-size: 20px;
        
    }




 }

 @media screen and (max-width: 500px) {


    .phone__number {
        font-size: 15px;
        margin-left: 0;
        
    }

 }


 @media screen and (max-width: 450px) {


    .container h2{
        font-size: 22px;
    }

    .form__input{     
        width:90%;    
    }
    
    .form__btn{       
        width:45%;   
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__input{
        margin-right: 0;
        margin-bottom: 10px;
    }

 }

 @media screen and (max-width: 380px) {


    .phone__text {
    
        display: none;
    }

    .phone__number {
        margin-left: 15px;
        
    }

 }


